@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Yellow shades */
  --primary-500: #facc15; /* yellow-400 */
  --primary-700: #eab308; /* yellow-500 */
  --gray-700: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: linear-gradient(to right, var(--primary-500), var(--primary-700));
  padding: 0.4rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  color: black;
  font-family: inherit;
  opacity: 2;
  transition: opacity 0.5s ease;
  display: block;
  margin: 0.75rem auto 0; /* Center horizontally */
  min-width: 120px;
  text-align: center;
}

button:hover {
  opacity: 0.5;
}

button:disabled {
  background: linear-gradient(to right, var(--gray-700), var(--gray-700));
  color: white;
  opacity: 0.5;
}

/* Inputs */
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 2rem;
}

input {
  width: 240px; /* Reduced width */
  border-radius: 0.375rem;
  border: 2px solid var(--gray-700);
  background-color: var(--gray-700);
  padding: 0.25rem 0.5rem;
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: border-color 0.2s ease;
}

input:focus {
  border-color: var(--primary-500);
}
